{{#if isDisabled}}
  <p>This repository does not use Github Issues.</p>
{{else}}
  <h3>My Issues: {{repositoryName}}</h3>
  {{#each myIssues}}
    <div>{{number}}: {{title}}</div>
  {{/each}}

  <hr>

  <h3>Github Issues for {{repositoryName}}</h3>

  {{#each}}
    <div>{{number}}: {{title}}</div>
  {{/each}}
{{/if}}
