<div class="block-group">
  <div id="repository-sidebar-block" class="block">
  {{render "repository_sidebar" }}
  </div>
  <div class="panes block-group">
    {{each panes itemViewClass="Glazier.PaneView"}}
    {{#if addingPane}}
      <div>Add a pane: {{addablePanes.length}}</div>

      {{#each addablePanes}}
        <div>{{manifest.displayName}}</div>
      {{/each}}

      {{#if addablePanes.isUpdating}}
        <div>Loading Panes...</div>
      {{/if}}

      <a href="#" {{action "toggleAddingPanes"}}>close</a>
    {{else}}
      {{#if canAddPanes}}
        <a href="#" {{action "toggleAddingPanes"}}>Add a Pane</a>
      {{/if}}
    {{/if}}
  </div>
</div>
