<div class="modal-main">
  <div class="logo"></div>
  <p>
   The {{paneDisplayName}} Pane would like permission to
   read or write information using your identity on {{serviceHost}}.
  </p>

   {{#if allowOauth}}
    <div class="buttons">
      <button class="modal-confirm" {{action approve}}>Continue</button>
      <button class="modal-cancel" {{action decline}}>Cancel</button>
    </div>
  {{else}}
    The {{paneDisplayName}} has requested Oauth, but you must log in to Glazier first.
  {{/if}}
</div>
