<h1>{{full_name}}</h1>
<br>
<div><img {{bindAttr src="gravatarUrl"}} /></div>
<label>Open issues:</label> {{open_issues}}
<br/>
<label>Forks:</label> {{forks}}
<br/>
<label>Watchers:</label> {{watchers}}
<br/>
<label>Created:</label> {{createdDate}}
<br/>
<label>Last Commit:</label> {{lastCommitDate}}
<br/>
<h1>Description</h1>
<p>{{description}}</p>
