<div class="repository-header">
  <img {{bindAttr src="gravatarUrl"}} />
  <div class="repository-name">
    <h2><a {{bindAttr href="html_url"}} target="_blank">{{name}}</a></h2>
    <h3>{{owner.login}}</h3>
  </div>

  <div class="repository-info">
    <p class="repository-description">{{description}}</p>
    {{#if homepage}}
      <p class="repository-link"><a {{bindAttr href="homepage"}} target="_blank">{{homepage}}</a></p>
    {{/if}}
  </div>

</div>
