<div class='section-navigation'>
{{#if isEditing}}

  {{reorderable-sections sortedContent}}

  <button class='add-section' {{action "add" target=stateManager}}><span class="icon icon-plus"></span> Add a Section</button>

  <button {{action "done" target=stateManager}}>Done Editing</button>
{{else}}
  <ol>
    {{#each sortedContent}}
      <li {{bind-attr class="isCurrent:selected"}} {{action "navigateToSection" this}}>
        <span {{bind-attr class=":icon sectionIcon"}}></span>
        {{name}}
      </li>
    {{/each}}
  </ol>
  {{#if isAdmin}}
    <button {{action "edit" target=stateManager}}><span class="icon-edit"></span> Edit Menu</button>
  {{/if}}
{{/if}}
</div>
