<div class='section-navigation'>
{{#if isEditing}}

  {{reorderable-sections contentBinding="sortedContent"}}

  <button class='add-section' {{action "add" target=stateManager}}>Add Section</button>

  <button {{action "done" target=stateManager}}>Done</button>
{{else}}
  <ol>
    {{#each sortedContent}}
      <li {{bind-attr class="isCurrent:selected"}} {{action "navigateToSection" this}}>
        <span {{bind-attr class=":icon sectionIcon"}}></span>
        {{name}}
      </li>
    {{/each}}
  </ol>

  <button {{action "edit" target=stateManager}}>Edit</button>
{{/if}}
</div>

