<h3>Github Stargazers for {{repositoryName}}</h3>
<div id="stargazers">
  {{#each stargazers}}
  <div class="person">
    <img {{bindAttr src="avatar_url"}} />
    <span>{{login}}</span>
  </div>
  {{/each}}
</div>

{{#if loggedIn}}
  {{#if isStarred}}
    <a {{action unstar}}>Unstar</a>
  {{else}}
    <a {{action star}}>Star</a>
  {{/if}}
{{/if}}
