<h3>Github Stargazers for {{repositoryName}}</h3>
<div class="people">
  <div class="stargazers-total">
    <span class="number text-base-color bg-base-color-lightest">{{totalStargazers}}</span>
  </div>
  {{#each stargazers}}
  <div class="person">
    <img data-tooltip="true" {{bindAttr src="avatar_url"}} width="40" height="40" />
    <span class="tooltip tooltip-top">{{login}}</span>
  </div>
  {{/each}}
</div>

{{#if loggedIn}}
  {{#if isStarred}}
    <a {{action unstar}}>Unstar</a>
  {{else}}
    <a {{action star}}>Star</a>
  {{/if}}
{{/if}}